body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#Carousel {
  background: #f6f6f6;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  margin: 5px;
  padding: 5px;
}

#Carousel nav {
  line-height: 250px;
  position: relative;
}

#Carousel nav a {
  font-size: 25px;
  position: absolute;
  text-decoration: none;
  z-index: 100;
}

#Carousel #Last {
  left: 0;
}

#Carousel #Next {
  right: 0;
}

#Listings {
  height: 260px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}

#Listings li {
  border: 1px solid #f6f6f6;
  background: #ffffff;

  /* nice to haves, not needed for IE8 */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  -webkit-box-shadow: 1px 1px 5px 0px rgba(66, 66, 66, 0.1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(66, 66, 66, 0.1);
  box-shadow: 1px 1px 5px 0px rgba(66, 66, 66, 0.1);

  display: block;
  float: left;
  height: 250px;
  list-style: none;
  overflow: hidden;
  margin: 5px;
  max-width: 1560px;
  width: 300px;
}

#Listings li a {
  text-decoration: none;
}

#Listings li .details {
  padding: 10px 15px;
}

#Listings li .title {
  color: #000066;
  display: block;
  font-size: 18px;
  line-height: 22px;
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#Listings li .price {
  color: #a5d14a;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
}

#Listings li .image-holder {
  border-bottom: 1px solid #f6f6f6;
  position: relative;
  overflow: hidden;
  height: 175px;
}

#Listings li img {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  max-width: 300px;
  max-height: 300px;
  position: relative;
  top: 50%;
}

/* setting media queries for how many listings to display instead of javascript */

/* width for 1 listing*/
@media (min-width: 332px) {
  #Listings {
    max-width: 312px;
  }
}

/* width for 2 listings*/
@media (min-width: 644px) {
  #Listings {
    max-width: 624px;
  }
}

/* width for 3 listings*/
@media (min-width: 956px) {
  #Listings {
    max-width: 936px;
  }
}

/* width for 4 listings*/
@media (min-width: 1268px) {
  #Listings {
    max-width: 1248px;
  }
}

/* width for 5 listings*/
@media (min-width: 1580px) {
  #Listings {
    max-width: 1560px;
  }
}

/* width for 1 listing*/
/* supports down to 320px */
@media (max-width: 331px) {
  #Listings {
    max-width: 302px;
  }
  #Listings li {
    margin: 5px 0;
  }
  #Carousel {
    padding: 5px 4px;
  }
}