@import "variables.less";

#Carousel {
  .border-radius();
  background: #f6f6f6;
  margin: 5px;
  padding: 5px;
}

#ListingsContainer, #Listings {
  height: 260px;
  overflow: hidden;
}

#ListingsContainer {
  margin: 0 auto;
}

#Listings {
  margin: 0;
  padding: 0;
}