@import "variables.less";

#Carousel {
  .border-radius();
  background: #f6f6f6;
  margin: 5px;
  padding: 5px;

  /* width for 1 listing*/
  /* supports down to 320px */
  @media (max-width: 331px) {
    padding: 5px 4px;
    margin: 0;
  }
}

#ListingsContainer, #Listings {
  height: 260px;
  overflow: hidden;
}

#ListingsContainer {
  .generate-centered-widths(5, 312px, 1, 20px);
  margin: 0 auto;

  /* width for 1 listing*/
  /* supports down to 320px */
  @media (max-width: 331px) {
    max-width: 302px;
  }
}

#Listings {
  margin: 0;
  padding: 0;
  width: 1560px;
}


/* hard coded animations for slider */
@keyframes keyframe-for-listing-0 {
  100% {margin-left: 0px;}
}

@keyframes keyframe-for-listing-1 {
  0% {margin-left: 0px;}
  100% {margin-left: -312px;}
}

@keyframes keyframe-for-listing-2 {
  0% {margin-left: -312px;}
  100% {margin-left: -624px;}
}

@keyframes keyframe-for-listing-3 {
  0% {margin-left: -624px;}
  100% {margin-left: -936px;}
}

@keyframes keyframe-for-listing-4 {
  0% {margin-left: -936px;}
  100% {margin-left: -1248px;}
}

@keyframes keyframe-for-listing-5 {
  0% {margin-left: -1248px;}
  100% {margin-left: -1560px;}
}

.listings-at-0 {
    animation-name: keyframe-for-listing-0;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
}

.listings-at-1 {
    animation-name: keyframe-for-listing-1;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
}

.listings-at-2 {
    animation-name: keyframe-for-listing-2;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
}

.listings-at-3 {
    animation-name: keyframe-for-listing-3;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
}

.listings-at-4 {
    animation-name: keyframe-for-listing-4;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
}

.listings-at-5 {
    animation-name: keyframe-for-listing-5;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
}