<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="Carousel">
  <nav>
    <a href="#" class="icon-left-open disabled" id="Last"></a>
    <a href="#" class="icon-right-open" id="Next"></a>
  </nav>
  <div id="ListingsContainer">
    <ul id="Listings">
    </ul>
  </div>
</div>

<script src="/scripts/main.js"></script>
<script>
  FeTest.Carousel.init();
</script>