<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="Carousel">
  <nav>
    <a href="#" id="Last">Last</a>
    <a href="#" id="Next">Next</a>
  </nav>
  <ul id="Listings">
  </ul>
</div>

<script src="/scripts/main.js"></script>
<script>
  FeTest.Carousel.init();
</script>